.modal-wrapper {
    .modal-dialog {
        .modal-content {
            height: 90vh;
            background: $seccondary-col;

            .review-modal-holder {
                overflow: hidden;

                .modal-body {
                    display: grid;
                    justify-content: center;
                    overflow-y: scroll;
                    height: 100%;

                    &::-webkit-scrollbar-track {
                        border-radius: 10px;
                        background: transparent;
                    }

                    &::-webkit-scrollbar {
                        width: 8px;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #555;
                    }

                    .modal-card {
                        background: transparent;
                        border: 1px solid $textMainCol;

                        .card-body {
                            color: $textMainCol;
                        }

                        .review-author-pic {
                            width: 50px;
                            border-radius: 50%;
                        }

                        .card-title {
                            gap: 0.5rem;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}