.sidebar {
    z-index: 0;
    min-width: auto !important;
}


.sidebar-container {
    .collapsed {
        width: 0 !important;
        overflow: hidden;
    }

    margin-top: 1rem;

    .main {
        height: 60px;
        display: none;
    }

    .sidebar-inner {
        background-color: #e0e0e0 !important;
        box-shadow: 3px 3px 10px #bebebe, -24px 24px 1px #ffffff;
        overflow: visible;


        .menu {

            ul {

                .menu-item {
                    box-shadow: inset 0 -0.1px 0 0 black;

                    .sub-menu-content {
                        max-height: 300px !important;

                        &::-webkit-scrollbar-track {
                            border-radius: 10px;
                            background: transparent;
                        }

                        &::-webkit-scrollbar {
                            width: 8px;
                            background: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            background-color: #555;
                        }
                    }

                    .menu-anchor {
                        padding: 10px 10px;
                        height: 4rem;
                        overflow: hidden;

                        &:hover {
                            background: none;
                            color: $textDark;
                        }



                        .menu-label {
                            display: grid;
                            height: 100%;
                            overflow: visible !important;
                            align-items: center;
                        }
                    }

                    #calendar-item {

                        height: fit-content;

                        .react-datepicker-popper {
                            z-index: 9;

                        }

                        #calendars {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 5px 0;
                        }

                        #calendar {
                            width: 100px;
                            background: rgb(243, 243, 243) !important;
                            color: rgb(81, 78, 78) !important;
                            border-radius: 8px;
                            padding: 5px;
                            font-size: 12px;
                            font-weight: 800;
                            color-scheme: dark;
                            border: none;
                        }
                    }

                    .sub-menu-content {
                        ul {

                            .genre-item {
                                a {
                                    padding: 0;
                                    height: 40px;

                                    span {
                                        padding: 10px 25px;

                                        &:hover {
                                            background: $btn-primary;
                                            color: $textMainCol;
                                        }
                                    }

                                    .selected {
                                        background: $btn-primary;
                                        color: $textMainCol;
                                    }
                                }

                            }
                        }
                    }
                }
            }

            #filter-btn {
                background: rgb(208, 33, 40);
                border: none;
                border-radius: 4px;
            }
        }

        .range-slider {
            background-color: #CCC;
            height: 3px;

            .range-slider__range {
                height: 3px !important;
                background: $btn-seccondary !important;
            }

            .range-slider__thumb {
                height: 15px;
                width: 15px;
                background: $textMainCol;
                box-shadow: 0 3px 8px rgb(0 0 0 / 40%);
            }


        }
    }

    #range-slider {

        div {
            &:nth-child(3) {
                display: none;
            }

            &:nth-child(5) {
                transform: translate(-3px, -50%) !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .sidebar-container {
        height: 0 !important;
        margin: 0;

        .sidebar {
            position: absolute !important;
            z-index: 9;
            left: 0;
            width: 100%;
            height: calc(100% - 1rem - 40px);
        }

        .main {
            z-index: 10;
            display: block;

            #btn-collapse {
                position: absolute;
                right: 0;
                bottom: 2rem;

                &::before {
                    font-family: FontAwesome;
                    content: "\f0b0";
                }
            }
        }
    }
}