.navbar {
    background-color: rgb(224 224 224) !important;
    box-shadow: 3px 3px 10px #bebebe, -24px 0px 1px #ffffff;
    z-index: 9;
    min-height: 50px;

    .container {
        padding: 0;
        position: relative;
    }

    .user-logo {
        width: 75px;
        height: 24px;
    }

    .col {
        overflow-x: visible !important;
    }

    .link-wrapper {
        .navbar-nav {
            align-items: center;
            gap: 1rem;

            ul {
                display: flex;
                padding: 0;
                align-items: center;
                margin: 0;
                list-style: none;
            }
        }
    }

    .user-profile {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: 0;
        gap: 0.5rem;

        .navbar-toggler {
            border: none;

            &:focus {
                box-shadow: none;
            }
        }

        .user-bg {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 30px 30px;
            z-index: 9999999;
            background-image: url(https://secure.gravatar.com/avatar/undefined);
            width: 32px;
            height: 32px;
            border-radius: 50%;

            #dropdown-item-button {
                background: none;
                border: none;
                width: 32px;
                height: 32px;

                &::after {
                    content: none;
                }
            }
        }
    }


    .show {
        .dropdown-menu {
            position: absolute;
        }
    }

    .navbar-collapse {

        .navbar-nav {
            a {
                color: $textDark;
            }

            .dropdown-menu {
                padding: 0;

                a {
                    padding: 10px;
                }

                .dropdown-item:active {
                    background-color: $btn-primary;
                    color: $textDark
                }
            }
        }
    }
}