@media (max-width: 370px) {
    .overview {
        width: 86%;
    }
}

@media (max-width: 615px) {
    .navbar {
        .container {
            padding: 0 2rem;

            .user-profile {
                right: 1rem;

                .login {
                    position: relative;
                    bottom: 4px;
                }

                .navbar-toggler {
                    position: relative;
                    bottom: 2px;
                }

                .user-bg {
                    position: relative;
                    bottom: 3px;
                }
            }
        }
    }

    .background-image {
        height: 25% !important;
        z-index: 1 !important;
    }

    .background-col {
        height: 100% !important;
        background: rgb(2, 0, 36) !important;

        .holder-elements {
            height: fit-content !important;
            display: grid !important;
            padding-top: 70%;

            .card {
                filter: grayscale(0%) !important;
            }

            .credit-card {
                filter: grayscale(0%) !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 880px;
    }

    #navbar-items {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgb(224, 224, 224) !important;

        ul {
            width: 100%;
            justify-content: space-around;

            .home {

                width: fit-content;
            }

            .nav-link {
                display: flex !important;
                align-items: center;
                position: relative;
                font-size: 0;
                padding: 10px 15px !important;

                svg {
                    font-size: 18px !important;
                }

                .dropdown {
                    position: absolute;

                    button {
                        padding: 10px 15px !important;
                        width: 100%;
                        font-size: 0;
                    }

                    .dropdown-menu {
                        top: auto;
                        right: 0;
                        left: auto;
                        bottom: 30px;
                    }
                }
            }
        }
    }

    .backgroundImage {
        top: 43px;
        position: relative;
        height: auto !important;
    }

    .sidebar-container {
        height: 0 !important;
        margin: 0;

        .sidebar {
            position: absolute !important;
            z-index: 9;
            left: 0;
            width: 100%;
            height: calc(100% - 1rem - 40px);
        }

        .main {
            z-index: 10;
            display: block;

            #btn-collapse {
                position: absolute;
                right: 0;
                bottom: 4rem;

                &::before {
                    font-family: FontAwesome;
                    content: "\f0b0";
                }
            }
        }
    }
}

@media (min-width: 1400px) {

    .container {
        max-width: 1600px;
    }
}