// MAIN COLORS
//DARK
$primary-col: rgba(13 13 15);
$seccondary-col: rgba(26 23 30);
//LIGHT
$primary-col-light: rgb(255 255 255);
// TERTIARY
$tertiaryCol: rgb(2, 0, 36);
// BUTTON COLORS
$btn-primary: rgb(208 33 40);
$btn-seccondary: rgb(195 17 24);
// TEXT COLORS
//LIGHT
$textMainCol: rgba(243 243 243);
$textSecCol: rgba(168 168 168);
//DARK
$textDark: rgb(81 78 78);
$textDarkest: rgb(0 0 0);
// FONTS
$font-stack: Helvetica, sans-serif;
// SIZINGS
$xm : 4px;
$sm : 8px;
$m : 12px;
$ml : 14px;
$lg: 16px;
$xl: 32px;